nav {
  padding: 0px !important; 
  margin: 0px !important;
}
body {
  padding-top: 61px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}
nav .navbar-collapse ul li a {
  font-size: 16px;
  color: #52565F !important;
}
nav .navbar-collapse ul li {
  padding: 9px 15px;
}
nav .navbar-collapse ul li a:hover {
  color: #007bff !important;
}

nav .navbar-collapse ul li a.active {
  color: #007bff !important;
}




#home-quote {
  background: linear-gradient(rgba(27,33,38,0.52),rgba(27,33,38,0.62)),url('../img/img-office-bg.jpg') center center;

  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.barnnerAGT {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #8792a1;
}
div.barnnerAGT .info {
  margin-left: 5px;
  color: #8792a1;
}
div.barnnerAGT .info span{
  display: block;
  font-size: 14px;
}
div.barnnerAGT .info strong {
  display: block;
  font-size: 14px;

}

@media (max-width: 767px) {
  #home-quote .display-4{
    font-size: 2.5rem;
  }
  body {
    padding-top: 0px;
  }
  .fixed-top {
    position: relative;
  }
}

.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
  padding: 1rem;
}

nav .navbar-brand img {
  width: 50px;
}

nav .navbar-collapse {
  padding: 0 50px;
}

nav .navbar-brand {
  padding: 0 50px;
}

nav .navbar-brand div .blue {
  color: #007bff;
}